{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-outline mb-4">
    <label class="form-label" for="classRoom"> {{ form_rest(form) }}</label>
</div>
{{ form_end(form) }}
<button type="submit" class="btn btn-primary btn-block">{{ button_label|default('Save') }}</button>
