{% extends 'base.html.twig' %}

{% block title %}ClassRoom{% endblock %}

{% block body %}
    <h1>ClassRoom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ class_room.id }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ class_room.class }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ class_room.created ? class_room.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ class_room.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('class_room_index') }}">back to list</a>

    <a href="{{ path('class_room_edit', {'id': class_room.id}) }}">edit</a>

    {{ include('class_room/_delete_form.html.twig') }}
{% endblock %}
